@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Acronym';
  src: url('./../assets/fonts/Acronym/ACRONYM\ BOLD.woff2') format('.woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Guardian Egyptian';
  src: url('./../assets/fonts/Guardian\ Egyptian/GUARDIANTEXTEGYPT-REGULAR.woff2') format('.woff2');
  font-style: normal;
  font-weight: 400;
}

@layer base {
  * {
    @apply font-acronym text-base;
  }

  h1.acronym {
    @apply font-acronym text-2xl tablet:text-3xl desktop:text-4xl;
  }

  h1.guardian {
    @apply font-guardian text-2xl tablet:text-3xl desktop:text-4xl;
  }

  h2.acronym {
    @apply font-acronym text-xl tablet:text-2xl desktop:text-3xl;
  }

  h2.guardian {
    @apply font-guardian text-xl tablet:text-2xl desktop:text-3xl;
  }

  h3.acronym {
    @apply font-acronym text-lg tablet:text-xl desktop:text-2xl;
  }

  h3.guardian {
    @apply font-guardian text-lg tablet:text-xl desktop:text-2xl;
  }

  p.acronym {
    @apply font-acronym text-lg tablet:text-xl desktop:text-2xl;
  }

  p.guardian {
    @apply font-guardian text-lg tablet:text-xl desktop:text-2xl;
  }

  small.acronym {
    @apply font-acronym text-sm tablet:text-base desktop:text-lg;
  }

  small.guardian {
    @apply font-guardian text-sm tablet:text-base desktop:text-lg;
  }
}
