{
  "printWidth": 160,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "importOrder": ["^react/(.*)$", "^next/(.*)$", "^@/_assets/(.*)$", "^@/_components/(.*)$", "^@/_lib/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
